.features {
  display: grid;
  padding: 2rem 0;
  justify-items: center;
}

.featureSvg {
  height: 12rem;
  width: 12rem;
}

.featureDescriptionList {
  display: flex;
  flex-direction: column;
}

.jcCenter {
  justify-content: center;
}