#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	# Build from source using the Go toolchain available in the build chroot.
	# We vendor deps in the source tarball in CI to avoid network during build.
	VER := $(shell dpkg-parsechangelog -SVersion | sed 's/-.*//')
	GO := /usr/lib/go-1.25/bin/go
	cd src && \
		CGO_ENABLED=0 GOFLAGS="-buildvcs=false -mod=vendor" \
		$(GO) build -trimpath \
			-tags "netgo,osusergo" \
			-ldflags="-s -w -X tungo/presentation/runners/version.Tag=$(VER)" \
			-o $(CURDIR)/tungo

override_dh_auto_install:
	install -D -m 0755 $(CURDIR)/tungo $(CURDIR)/debian/tungo/usr/bin/tungo

override_dh_auto_test:
	# Skip tests during package build

override_dh_shlibdeps:
	# Go binary is statically linked, skip shared lib deps

override_dh_strip:
	# Don't strip Go binaries, it can corrupt them
